# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.test_lock_constr.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\myProjects\test_lock_constr\.idea\.idea.test_lock_constr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
